@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: #121212;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.TxTfooter {
    color: #FFF;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.5s ease;
}

.TxTfooter:hover {
    text-decoration: underline;
}

.blockLine {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.HederButt {
    width: 8%;
    height: 88%;
    flex-shrink: 0;
}

.lineHeader {
    width: 85%;
    height: 1px;
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
}

.TiTle {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.subTitle {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.TXTred {
    color: #8D1709;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.subTXTred {
    color: #8D1709;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.block {
    display: flex;
    width: 100%;

    /* margin-left: 13%;
    margin-right: 13%; */
}

.bodyTitle {
    display: flex;
    justify-content: space-between;
}

.blockLineBody {
    display: flex;
    justify-content: center;
}

.lineBody {
    width: 1px;
    height: 100%;
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;

}

.titleTxT {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 9% 8% 0% 4%;
    gap: 7%;
}

.bodyPhoto {
    display: flex;
    justify-content: flex-end;
    padding: 0% 5% 0% 12%;
    width: 100%;
    height: 100%;
}

.blockLinebuttom {
    display: flex;
    justify-content: center;
}

.linebuttomBody {
    width: 85%;
    height: 1px;
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
}

.blockLineONE {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
}

.blockLineTWO {
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.line {
    width: 1px;
    height: 225%;
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #FFF;
}

.blockLineHEaderONE {
    display: flex;
    justify-content: flex-start;

}

.blockLineHAderTWO {
    display: flex;
    justify-content: flex-end;
}

.Title {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}

.Title h1 {
    width: 502px;
    color: #FFF;
    text-align: center;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.line_Horizont {
    width: 85%;
    height: 1px;
    margin-top: 30px;
    stroke-width: 1px;
    background-color: #FFF;
}

.input {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

}

.BlockOne {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.blockInput {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: 0% 13%;
    height: 75%;
}


.subblockInput {
    display: flex;
    flex-direction: column;
    gap: 15%;
    height: 75%;
}

.blockROw {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.blockROwone {
    display: flex;
    gap: 10px;
    width: 65%;
}

.blockROwTwo {
    display: flex;
    gap: 10px;
    width: 44%;
}

.blockClose {
    background-image: url(https://i.ibb.co/Dtx98Sz/Vector.png);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.blockCloseOne {
    background-image: url(https://i.ibb.co/Dtx98Sz/Vector.png);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 9%;
}

.blockCloseTwo {
    background-image: url(https://i.ibb.co/Dtx98Sz/Vector.png);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 14%;
}

.BlockElement {
    height: 75%;
    margin-bottom: 100px;
}

.blockSend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%;
}

.term {
    width: 270px;
    height: 44px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.block__send_but {
    width: 270px;
    height: 30px;
    flex-shrink: 0;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
}

.TxT__but {
    color: #000;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.blockline_Horizont {
    display: flex;
    justify-content: center;
}



.BlockOne img {
    width: 26px;
    height: 26px;
    flex-shrink: 0;

}

.footerElements {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding: 0% 9%;
}

.footerTxt h3 {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.footerTxt span {
    color: #8D1709;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.footerInformation {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
    gap: 7px;
}

.footerInformation h3 {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.blockFooter_line_Horizont {
    display: flex;
    justify-content: center;

}

.Footer_line_Horizont {
    width: 85%;
    height: 1px;
    stroke-width: 1px;
    background-color: #FFF;

}

@media screen and (max-width: 2560px) {
    .titleTxT {
        padding: 9% 15% 0% 5%;
    }

    .bodyPhoto {
        padding: 0% 0% 0% 19%;
    }
}

@media screen and (max-width: 1440px) {
    .titleTxT {
        padding: 9% 8% 0% 11%;
    }

    .bodyPhoto {
        padding: 0% 0% 0% 0%;
    }
}

@media screen and (max-width: 2560px) {
    .HederButt {
        display: none;
    }
}

@media screen and (max-width: 1880px) {
    .titleTxT {
        padding: 9% 9% 0% 13%;
    }

    .bodyPhoto {
        padding: 0% 0% 0% 0%;
    }
}

@media screen and (max-width: 1024px) {
    .titleTxT {
        padding: 9% 7% 0% 5%;
    }

    .blockLineONE {
        padding-left: 18px;
    }

    .blockLineTWO {
        padding-right: 18px;
    }

    .lineHeader {
        width: 90%;
    }

    .linebuttomBody {
        width: 90%;
    }

    .line_Horizont {
        width: 90%;
    }

    .Footer_line_Horizont {
        width: 90%;
    }

    .blockInput {
        padding: 0% 5%
    }

    .footerElements {
        padding: 0% 5%
    }

    .blockROwone {
        width: 97%;
    }

    .BlockOne {
        width: 322px;
    }

    .input {
        font-size: 19px;
    }

    .blockCloseTwo {
        margin-top: 0px;
    }

    .line {
        width: 1px;
        height: 235%;
    }
}


@media screen and (max-width: 768px) {
    .HederButt {
        display: flex;

    }

    nav {
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
    }

    .TxTfooter {
        display: none;
    }

    .blockLineBody {
        display: none;
    }

    .block {
        display: flex;
        flex-direction: column;
    }

    .Title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .blockSend {
        height: 70%;
        gap: 10px;
    }

    .blockInput {
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        margin-top: 30px;
        padding: 0% 10%;
    }

    .subblockInput {
        gap: 126%;
    }

    .blockROwone {
        width: 96%;
    }

    .blockROwTwo {
        width: 102%;
    }

    .blockCloseOne {
        margin-top: 0px;
    }

    .blockCloseTwo {
        margin-top: 0px;
    }

    .subblockInput {
        height: 22%;
    }

    .BlockElement {
        height: 130%;
    }

    .line {
        height: 215%;
    }

    .lineHeader {
        width: 90%;
    }

    .linebuttomBody {
        width: 90%;
    }

    .line_Horizont {
        width: 90%;
    }

    .Footer_line_Horizont {
        width: 90%;
    }

    .footerElements {
        flex-direction: column;
        padding: 0% 9%;
        margin-top: 25px;
        gap: 10px;
    }

    .footerInformation {
        justify-content: flex-start;
        text-align: start;
        flex-direction: row;
    }

    .BlockOne {
        width: 460px;
    }
}

@media screen and (max-width: 425px) {
    .blockLineONE {
        padding-left: 10px;

    }

    .blockLineTWO {
        padding-right: 0px;

    }

    .BlockOne {
        width: 331px;
    }

    .Title h1 {
        font-size: 21px;
        width: 387px;
    }

    .TiTle {
        font-size: 36px;
    }

    .TXTred {
        font-size: 36px;
    }

    .bodyPhoto {
        height: 45%;
    }

    .line {
        height: 245%;
    }

    .lineHeader {
        width: 85%;
    }

    .linebuttomBody {
        width: 85%;
    }

    .line_Horizont {
        width: 85%;
    }

    .Footer_line_Horizont {
        width: 85%;
    }

    .blockInput {
        padding: 0% 9%;
    }

    .subblockInput {
        gap: 100%;
    }

    .blockLineTWO {
        padding-right: 10px;
    }

    .blockLineONE {
        padding-left: 10px;
    }

    .block {
        width: 91%;
        margin-bottom: -235px;
    }

    .blockInput {
        padding: 0% 6%;
    }

    .BlockElement {
        margin-bottom: 0px;
        height: 112%;
    }

    .line {
        height: 310%;
    }

    .footerElements {
        padding: 0% 7%;
    }


}

@media screen and (max-width: 425px) {
    .BlockElement {
        height: 154%;
    }
}

@media screen and (max-width: 320px) {
    nav {
        margin-left: 20px;
    }

    .BlockOne {
        width: 276px;
    }

    .HederButt {
        width: 11%;
    }

    .TiTle {
        font-size: 24px;
    }

    .TXTred {
        font-size: 24px;
    }

    .subTitle {
        font-size: 14px;
    }

    .subTXTred {
        font-size: 14px;
    }

    .Title {
        gap: 10px;
    }

    .Title h1 {
        font-size: 19px;
        width: 300px;
    }

    .blockInput {
        gap: 3px;
        margin-top: -31px;
    }

    .subblockInput {
        gap: 0%;
    }

    .BlockElement {
        height: 90%;
    }

    .input {
        font-size: 15px;
    }

    .line {
        height: 260%;
    }

    .footerTxt h3 {
        font-size: 16px;
    }

    .footerTxt span {
        font-size: 16px;
    }

    .footerInformation h3 {
        font-size: 16px;
    }

    .block__send_but {
        align-items: center;
    }

    .TxT__but {
        font-size: 16px;
    }
}